<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>月令</title>
    <meta name="description" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic" rel="stylesheet"
          type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="./css/styles.css">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="./favicon.ico"/>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>-->
    <script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
    <script>



    </script>
    <style>

        #album {
            width:133px;
            height:200px;
            margin:auto;
            position:relative;
            transform-style:preserve-3d;
            transform:rotateX(-20deg);
        }
        #album img {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            /* 反射倒影 距离下面5px  */
            -webkit-box-reflect:below 5px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.5));
        }
        #album p {
            position:absolute;
            left:calc(133px/2 - 800px/2);
            top:calc(200px/2 - 800px/2);
            width:800px;
            height:800px;
            background:rgba(255,255,255,0.1);
            transform:translateY(100px) rotateX(90deg);
            border-radius:50%;
        }
    </style>
</head>

<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Top Bar -->
<section class="top-bar">
    <div class="container">
        <div class="row">

            <div class="box box-1">

                <div class="socials">
                    <ul>
                        <!--<li><a href="#!"><i class="icon-gplus-circled"></i></a></li>
                        <li><a href="#!"><i class="icon-facebook-circled"></i></a></li>
                        <li><a href="#!"><i class="icon-twitter-circled"></i></a></li>
                        <li><a href="#!"><i class="icon-vimeo-circled"></i></a></li>-->
                    </ul>
                </div>
            </div>
            <div class="box box-2">

                <form class="search-box">
                    <div class="btn-close"></div>
                    <p>
                        <input class="search_bar" type="text" value="" placeholder="Search"
                               data-active-placeholder="搜索..."  id="searchPar">
                    </p>
                    <p class="help">
                        <strong>Enter</strong> 搜索.<strong>Esc</strong>取消.
                    </p>
                </form>

            </div>
        </div>

    </div>
</section>

<!-- Header -->
<header class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <h1>月令</h1>
                <h6>LiLy&Garry Blog</h6>
            </a>
        </div>
    </div>
</header>

<!-- Main Nav -->
<section class="container">
    <nav class="nav">


        <ul>
            <li><a href="index.html">句芒</a></li>
            <li><a href="about.html">祝融</a></li>
            <li><a href="features.html">蓐收</a></li>
            <li><a href="contact.html">玄冥</a></li>

        </ul>


    </nav>
</section>

        <div id="album">
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-1.png" alt=""></a>
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-2.png" alt=""></a>
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-3.png" alt=""></a>
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-4.png" alt=""></a>
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-5.png" alt=""></a>
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-6.png" alt=""></a>
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-7.png" alt=""></a>
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-8.png" alt=""></a>
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-9.png" alt=""></a>
            <a href="www.baidu.com"><img src="http://www.jq22.com/img/cs/500x500-1.png" alt=""></a>
            <p></p>
        </div>
<section class="main container" id="svue">
    <!-- <article class="article" v-for="item in articles">
         <header>
             <figure v-if="item.imgs.length=1">
                 <img :src="item.imgs[0]" alt="">
                 <noscript><img src="img/news-1.jpg"/></noscript>
                 <figcaption>{{item.imgDesc}}</figcaption>
             </figure>
             <div class="quote" v-if="item.wedge!=''&&item.wedge!='undefined'">
                 <p class="line-through"><span><a href="#">春·夏·秋·冬</a></span></p>
                 <div class="stripe-border">
                     <blockquote>
                         <p>&ldquo;{{item.wedge}}&rdquo; </p>
                     </blockquote>
                 </div>
                 <cite class="line-through"><span>月令</span></cite>
             </div>
             <div class="gallery" v-if="item.imgs.length>1">
                 <div class="img_box blur pic" v-for="p in item.imgs">
                     <a rel="gallery-1" href="img/news-4.jpg" class="swipebox-gallery">
                         <img :src="p" alt="image">
                         <noscript><img :src="p"/></noscript>
                     </a>
                 </div>
             </div>
             <div class="meta-data">
                 <h3><a href="#">{{item.title}}</a></h3>
                 <p class="author">
                     <time datetime="2015-08-07">{{item.createTime.date}}</time>
                 </p>
                 <div class="socbtn">
                     <span class="share"><i class="icon-share"></i></span>
                     <div class="popup">
                         <a class="share&#45;&#45;googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                         <a class="share&#45;&#45;twitter" href="#"><i class="icon-twitter-circled"></i></a>
                         <a class="share&#45;&#45;facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                     </div>
                 </div>
             </div>
         </header>
         <div class="entry-content" id="info">
             <div v-html="item.content"></div>
         </div>
         <footer>
             <ul class="tags">
                 <li><a href="#" class="tag" title="阅读">0</a></li>
                 <li><a href="#" class="tag" title="点赞">10</a></li>
                 <li><a href="#" class="tag">JavaScript</a></li>
                 <li><a href="#" class="tag">Sketch 3</a></li>
                 <li><a href="#" class="tag">Kirby</a></li>
             </ul>


         </footer>
     </article>-->
    <!-- <article class="article">
         <header>
             <figure>
                 <img src="img/news-1.jpg" alt=""/>
                 <noscript><img src="img/news-1.jpg"/></noscript>
                 <figcaption>- 图片简述十五字内</figcaption>
             </figure>

             <div class="meta-data">
                 <h3><a href="#">{{title}}</a></h3>

                 <p class="author">
                     <time datetime="2015-08-07">2019-7-24</time>
                 </p>

                 <div class="socbtn">
                     <span class="share"><i class="icon-share"></i></span>
                     <div class="popup">
                         <a class="share&#45;&#45;googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                         <a class="share&#45;&#45;twitter" href="#"><i class="icon-twitter-circled"></i></a>
                         <a class="share&#45;&#45;facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                     </div>
                 </div>
             </div>
         </header>

         <div class="entry-content" id="info">

             <p>句，就像小草刚刚冒出泥土的样子，头勾着。芒，是春天刚长出的小叶子上，毛茸茸的小刺。句芒主管树木的发芽生长，辅佐东方上帝青帝太皞。神话中，句芒的形象是人脸，鸟身，乘两龙。
                 句芒（gōu máng），中国古代民间神话中的木神（春神），主管树木的发芽生长，辅佐东方上帝青帝太皞。 [1] 太阳每天早上从扶桑上升起，神树扶桑归句芒管，太阳升起的那片地方也归句芒管。
                 句芒在古代非常非常重要，每年春祭都有份。它的本来面目是鸟，它鸟身人面，乘两龙，后来竟一点影响也没有了。不过我们可以在祭祀仪式和年画中见到它：它变成了春天骑牛的牧童，头有双髻，手执柳鞭，亦称芒童。
                 句芒（gōu máng），中国古代民间神话中的木神（春神），主管树木的发芽生长，辅佐东方上帝青帝太皞。 [1] 太阳每天早上从扶桑上升起，神树扶桑归句芒管，太阳升起的那片地方也归句芒管。
                 句芒在古代非常非常重要，每年春祭都有份。它的本来面目是鸟，它鸟身人面，乘两龙，后来竟一点影响也没有了。不过我们可以在祭祀仪式和年画中见到它：它变成了春天骑牛的牧童，头有双髻，手执柳鞭，亦称芒童。</p>
         </div>

         <footer>
             <ul class="tags">
                 <li><a href="#" class="tag" title="阅读">0</a></li>
                 <li><a href="#" class="tag" title="点赞">10</a></li>
                 <li><a href="#" class="tag">JavaScript</a></li>
                 <li><a href="#" class="tag">Sketch 3</a></li>
                 <li><a href="#" class="tag">Kirby</a></li>
             </ul>


         </footer>
     </article>

     <article class="article">
         <header>

             <div class="quote">
                 <p class="line-through"><span><a href="#">春·夏·秋·冬</a></span></p>
                 <div class="stripe-border">
                     <blockquote>
                         <p>&ldquo;如果你不能简单地解释它，你就不能很好地理解它.&rdquo; </p>
                     </blockquote>
                 </div>
                 <cite class="line-through"><span>月令</span></cite>
             </div>

             <div class="meta-data">
                 <p class="author">
                     <time datetime="2015-08-07">November 5th, 2015</time>
                 </p>
                 <div class="socbtn">
                     <span class="share"><i class="icon-share"></i></span>
                     <div class="popup">
                         <a class="share&#45;&#45;googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                         <a class="share&#45;&#45;twitter" href="#"><i class="icon-twitter-circled"></i></a>
                         <a class="share&#45;&#45;facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                     </div>
                 </div>
             </div>
         </header>

         <div class="entry-content" id="info">

             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros ac posuere efficitur. Nunc
                 bibendum cursus convallis. Praesent aliquam gravida lacus, a pharetra lorem dignissim ac. Vivamus at
                 elit quam. Proin eu libero vel dolor bibendum lacinia.</p>

             <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively
                 sized based on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Skeleton never
                 changes the <code>&lt;html&gt;</code> font-size, but it's there in case you need it for your project.
                 All measurements are still base 10 though so, an <code>&lt;h1&gt;</code> with <code>5.0rem</code>font-size
                 just means <code>50px</code>.</p>

             <p>Buttons come in two basic flavors in Skeleton. The standard <code>&lt;button&gt;</code> element is plain,
                 whereas the <code>.button-primary</code> button is vibrant and prominent. Button styles are applied to a
                 number of appropriate form elements, but can also be arbitrarily attached to anchors with a <code>.button</code>
                 class.</p>

             <p>Code styling is kept basic – just wrap anything in a <code>&lt;code&gt;</code> and it will appear like
                 <code>this</code>. For blocks of code, wrap a <code>&lt;code&gt;</code> with a <code>&lt;pre&gt;</code>.
             </p>

             <p>Paragraph with <strong>bold</strong>, <i>italic</i> and <a href="#">link</a> styles.</p>

         </div>

         <footer>
             <ul class="tags">
                 <li><a href="#" class="tag">Albert</a></li>
                 <li><a href="#" class="tag">Science</a></li>
                 <li><a href="#" class="tag">Minimal</a></li>
                 <li><a href="#" class="tag">Kirby</a></li>
             </ul>
         </footer>
     </article>

     <article class="article">
         <header>

             <div class="video-item">
                 <a class="swipebox-video" rel="vimeo" href="https://www.bilibili.com/video/av58484547/">

                     <div class="block-blur"></div>
                     <div class="mask">
                         <figure>
                             <img src="img/news-2.jpg"/>
                             <noscript><img src="img/news-2.jpg"/></noscript>
                             <div class="icon">
                                 <svg width="64" height="64" viewBox="0 0 510 510" fill="#fff">
                                     <path d="M204 369.75L357 255 204 140.25v229.5zM255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm0 459c-112.2 0-204-91.8-204-204S142.8 51 255 51s204 91.8 204 204-91.8 204-204 204z"/>
                                 </svg>
                             </div>
                         </figure>
                     </div>
                 </a>
             </div>

             <div class="meta-data">
                 <h3><a href="#">Youtube Video Custom Post</a></h3>

                 <p class="author">
                     <time datetime="2015-08-07">October 21th, 2015</time>
                 </p>

                 <div class="socbtn">
                     <span class="share"><i class="icon-share"></i></span>
                     <div class="popup">
                         <a class="share&#45;&#45;googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                         <a class="share&#45;&#45;twitter" href="#"><i class="icon-twitter-circled"></i></a>
                         <a class="share&#45;&#45;facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                     </div>
                 </div>
             </div>
         </header>

         <div class="entry-content" id="info">

             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros ac posuere efficitur. Nunc
                 bibendum cursus convallis. Praesent aliquam gravida lacus, a pharetra lorem dignissim ac. Vivamus at
                 elit quam. Proin eu libero vel dolor bibendum lacinia.</p>

             <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively
                 sized based on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Skeleton never
                 changes the <code>&lt;html&gt;</code> font-size, but it's there in case you need it for your project.
                 All measurements are still base 10 though so, an <code>&lt;h1&gt;</code> with <code>5.0rem</code>font-size
                 just means <code>50px</code>.</p>

             <p>Buttons come in two basic flavors in Skeleton. The standard <code>&lt;button&gt;</code> element is plain,
                 whereas the <code>.button-primary</code> button is vibrant and prominent. Button styles are applied to a
                 number of appropriate form elements, but can also be arbitrarily attached to anchors with a <code>.button</code>
                 class.</p>

             <p>Code styling is kept basic – just wrap anything in a <code>&lt;code&gt;</code> and it will appear like
                 <code>this</code>. For blocks of code, wrap a <code>&lt;code&gt;</code> with a <code>&lt;pre&gt;</code>.
             </p>

             <p>Paragraph with <strong>bold</strong>, <i>italic</i> and <a href="#">link</a> styles.</p>

         </div>

         <footer>
             <ul class="tags">
                 <li><a href="#" class="tag">随笔</a></li>
                 <li><a href="#" class="tag">装载10</a></li>
                 <li><a href="#" class="tag">阅读1000000</a></li>
                 <li><a href="#" class="tag">喜欢9909888</a></li>
             </ul>
         </footer>
     </article>


     <article class="article">
         <header>

             <div class="gallery">
                 <div class="img_box blur pic">
                     <a rel="gallery-1" href="img/news-4.jpg" class="swipebox-gallery">
                         <img src="img/thumb-1.jpg" alt="image">
                         <noscript><img src="img/thumb-1.jpg"/></noscript>
                     </a>
                 </div>
                 <div class="img_box blur">
                     <a rel="gallery-1" href="img/news-5.jpg" class="swipebox-gallery">
                         <img src="img/thumb-2.jpg" alt="image">
                         <noscript><img src="img/thumb-2.jpg"/></noscript>
                     </a>
                 </div>
                 <div class="img_box blur">
                     <a rel="gallery-1" href="img/news-6.jpg" class="swipebox-gallery">
                         <img src="img/thumb-3.jpg" alt="image">
                         <noscript><img src="img/thumb-3.jpg"/></noscript>
                     </a>
                 </div>
                 <div class="img_box blur">
                     <a rel="gallery-1" href="img/news-7.jpg" class="swipebox-gallery">
                         <img src="img/thumb-4.jpg" alt="image">
                         <noscript><img src="img/thumb-4.jpg"/></noscript>
                     </a>
                 </div>
                 <div class="img_box blur">
                     <a rel="gallery-1" href="img/news-8.jpg" class="swipebox-gallery">
                         <img src="img/thumb-5.jpg" alt="image">
                         <noscript><img src="img/thumb-5.jpg"/></noscript>
                     </a>
                 </div>
                 <div class="img_box blur">
                     <a rel="gallery-1" href="img/news-9.jpg" class="swipebox-gallery">
                         <img src="img/thumb-6.jpg" alt="image">
                         <noscript><img src="img/thumb-6.jpg"/></noscript>
                     </a>
                 </div>
                 <div class="img_box blur">
                     <a rel="gallery-1" href="img/news-10.jpg" class="swipebox-gallery">
                         <img src="img/thumb-7.jpg" alt="image">
                         <noscript><img src="img/thumb-7.jpg"/></noscript>
                     </a>
                 </div>
                 <div class="img_box blur">
                     <a rel="gallery-1" href="img/news-11.jpg" class="swipebox-gallery">
                         <img src="img/thumb-8.jpg" alt="image">
                         <noscript><img src="img/thumb-8.jpg"/></noscript>
                     </a>
                 </div>
             </div>
             <div class="tlinks">Collect from <a href="http://www.cssmoban.com/">建站模板</a></div>

             <div class="meta-data">
                 <h3><a href="#">Gallery Custom Post</a></h3>

                 <p class="author">
                     <time datetime="2015-08-07">October 9th, 2015</time>
                 </p>

                 <div class="socbtn">
                     <span class="share"><i class="icon-share"></i></span>
                     <div class="popup">
                         <a class="share&#45;&#45;googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                         <a class="share&#45;&#45;twitter" href="#"><i class="icon-twitter-circled"></i></a>
                         <a class="share&#45;&#45;facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                     </div>
                 </div>
             </div>
         </header>

         <div class="entry-content" id="info">

             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros ac posuere efficitur. Nunc
                 bibendum cursus convallis. Praesent aliquam gravida lacus, a pharetra lorem dignissim ac. Vivamus at
                 elit quam. Proin eu libero vel dolor bibendum lacinia.</p>

             <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively
                 sized based on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Skeleton never
                 changes the <code>&lt;html&gt;</code> font-size, but it's there in case you need it for your project.
                 All measurements are still base 10 though so, an <code>&lt;h1&gt;</code> with <code>5.0rem</code>font-size
                 just means <code>50px</code>.</p>

             <p>Buttons come in two basic flavors in Skeleton. The standard <code>&lt;button&gt;</code> element is plain,
                 whereas the <code>.button-primary</code> button is vibrant and prominent. Button styles are applied to a
                 number of appropriate form elements, but can also be arbitrarily attached to anchors with a <code>.button</code>
                 class.</p>

             <p>Code styling is kept basic – just wrap anything in a <code>&lt;code&gt;</code> and it will appear like
                 <code>this</code>. For blocks of code, wrap a <code>&lt;code&gt;</code> with a <code>&lt;pre&gt;</code>.
             </p>

             <p>Paragraph with <strong>bold</strong>, <i>italic</i> and <a href="#">link</a> styles.</p>

         </div>

         <footer>
             <ul class="tags">
                 <li><a href="#" class="tag">Gallery</a></li>
                 <li><a href="#" class="tag">Travel</a></li>
                 <li><a href="#" class="tag">Photography</a></li>
                 <li><a href="#" class="tag">Kirby</a></li>
             </ul>
         </footer>
     </article>

     <article class="article">
         <header>

             <div class="video-item">
                 <a class="swipebox-video" rel="vimeo" href="https://vimeo.com/139414914">

                     <div class="block-blur"></div>
                     <div class="mask">
                         <figure>
                             <img src="img/news-3.jpg"/>
                             <noscript><img src="img/news-3.jpg"/></noscript>
                             <div class="icon">
                                 <svg width="64" height="64" viewBox="0 0 510 510" fill="#fff">
                                     <path d="M204 369.75L357 255 204 140.25v229.5zM255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm0 459c-112.2 0-204-91.8-204-204S142.8 51 255 51s204 91.8 204 204-91.8 204-204 204z"/>
                                 </svg>
                             </div>
                         </figure>
                     </div>
                 </a>
             </div>

             <div class="meta-data">
                 <h3><a href="#">Vimeo Video Custom Post</a></h3>

                 <p class="author">
                     <time datetime="2015-08-07">September 7th, 2015</time>
                 </p>

                 <div class="socbtn">
                     <span class="share"><i class="icon-share"></i></span>
                     <div class="popup">
                         <a class="share&#45;&#45;googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                         <a class="share&#45;&#45;twitter" href="#"><i class="icon-twitter-circled"></i></a>
                         <a class="share&#45;&#45;facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                     </div>
                 </div>
             </div>


         </header>

         <div class="entry-content" id="info">

             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros ac posuere efficitur. Nunc
                 bibendum cursus convallis. Praesent aliquam gravida lacus, a pharetra lorem dignissim ac. Vivamus at
                 elit quam. Proin eu libero vel dolor bibendum lacinia.</p>

             <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively
                 sized based on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Skeleton never
                 changes the <code>&lt;html&gt;</code> font-size, but it's there in case you need it for your project.
                 All measurements are still base 10 though so, an <code>&lt;h1&gt;</code> with <code>5.0rem</code>font-size
                 just means <code>50px</code>.</p>

             <p>Buttons come in two basic flavors in Skeleton. The standard <code>&lt;button&gt;</code> element is plain,
                 whereas the <code>.button-primary</code> button is vibrant and prominent. Button styles are applied to a
                 number of appropriate form elements, but can also be arbitrarily attached to anchors with a <code>.button</code>
                 class.</p>

             <p>Code styling is kept basic – just wrap anything in a <code>&lt;code&gt;</code> and it will appear like
                 <code>this</code>. For blocks of code, wrap a <code>&lt;code&gt;</code> with a <code>&lt;pre&gt;</code>.
             </p>

             <p>Paragraph with <strong>bold</strong>, <i>italic</i> and <a href="#">link</a> styles.</p>

         </div>

         <footer>
             <ul class="tags">
                 <li><a href="#" class="tag">Video</a></li>
                 <li><a href="#" class="tag">Software</a></li>
                 <li><a href="#" class="tag">Engineer</a></li>
                 <li><a href="#" class="tag">Kirby</a></li>
             </ul>
         </footer>
     </article>
 -->

</section>

<section>
    <nav role="navigation">
        <ul class="pagination">
            <li><a class="next" href="#0">&larr; 返</a></li>
            <li><a class="prev" href="#0">行 &rarr;</a></li>
        </ul>
    </nav>
</section>

<!-- Footer -->
<footer>
    <div class="inner">
        <div class="container">
            <div class="copyright">
                <span class="sub">© Copyright 2019 <a href="#">BluaBluaBlua</a> - GaoJunZhang </span>
            </div>
            <!--           <nav class="languages" role="navigation">
                           <ul>
                               <li><a href="#" class="active">EN</a></li>
                               <li><a href="#">TR</a></li>
                           </ul>
                       </nav>-->


            <a href="#0" class="backtotop">Top</a>


        </div>
    </div>
</footer>
<script>
    /*旋转分散*/
    window.onload = function() {
        var album = document.getElementById('album'),
            aImg = document.querySelectorAll('img');
        for (var i = 0; i < aImg.length; i++) {
            // 图片旋转分散 36°
            aImg[i].style.transform = 'rotateY(' + i * 360 / aImg.length + 'deg) translateZ(300px)';
            aImg[i].style.transition = 'transform 1s ' + (aImg.length - i) * 0.1 + 's';
        }
        var lastX = 0, // 前一次的坐标X
            lastY = 0,
            nowX = 0, // 当前的坐标X
            nowY = 0,
            desX = 0,
            desY = 0,
            rotX = -30,
            rotY = 0,
            timer; // 时间间隔
        document.onmousedown = function(e) {
            var e = e || event;
            lastX = e.clientX;
            lastY = e.clientY;
            this.onmousemove = function(e) {
                var e = e || event;
                nowX = e.clientX;
                nowY = e.clientY;
                desX = nowX - lastX;
                desY = nowY - lastY;
                // 更新album的旋转角度，拖拽越快-> des变化大 -> roY变化大 -> 旋转快
                rotX -= desY * 0.1;
                rotY += desX * 0.2;
                album.style.transform = 'rotateX(' + rotX + 'deg) rotateY(' + rotY + 'deg)';
                lastX = nowX;
                lastY = nowY;
            }
            document.onmouseup = function() {
                this.onmousemove = this.onmouseup = null;
                timer = setInterval(function() {
                    desX *= 0.95;
                    desY *= 0.95;
                    rotX -= desY * 0.1;
                    rotY += desX * 0.2;
                    album.style.transform = 'rotateX(' + rotX + 'deg) rotateY(' + rotY + 'deg)';

                    if (Math.abs(desX) < 0.5 && Math.abs(desY) < 0.5) {
                        clearInterval(timer);
                    }
                }, 13)
            }
            // 阻止默认行为
            return false;
        }
    }
</script>

</body>

</html>
